[user]
    email = code@johnmajor.ca
    name = John Major
[diff]
[color]
    ui = auto
[alias]
    br = branch
    c = commit
    ca = commit -a
    cm = commit -m
    co = checkout
    d = diff
    fo = fetch origin
    po = push origin
    st = status
[push]
    default = simple
[core]
	editor = vim
[init]
	defaultBranch = main
